{% extends "blog/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: {{ product.price }}💲</p>
                    <p class="card-text">Quantity: {{ product.quantity }}</p>
                    <p class="card-text">Description: {{ product.description }}</p>
                    <a href="{% url 'add-to-cart' product.id %}" class="btn btn-primary">Add to Cart</a>
                    <a href="{% url 'buy-now' product.id %}" class="btn btn-success">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
